<!DOCTYPE html>
<html>
  <h1>ショッピングカート</h1>
  
  <table class ="table">
    <thead>
      <tr>
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
      </tr>
    </thead>
    <tbody>
      <% @carts.each do |cart| %>
      <tr>
        <td><%= cart.product.product_name %></td>
        <td><%= (cart.product.with_tax_price).floor %></td>
        <td></td>
        <td><%= (cart.subtotal %></td>
        <td><%= link_to "削除する", cart_path(@cart), method: :delete %></td>
      </tr>
    </tbody>
  </table>
</html>